engine-strict=true

registry=https://registry.npmjs.org/

@ntv360:registry=https://npm-dev.n-compass.online/
//npm-dev.n-compass.online/:_authToken=MGYwYWY1YTQxMGUzZTNmOTcyZDZkNmU0YjNhNWIxODE6MjZjZjk4OGQ1NzZmY2MzMDJjMmMyNDhkOWQ1MzM2NmE0MjdiNmM5MjE2
