{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 100,
    "plugins": ["prettier-plugin-organize-imports"],
    "organizeImportsSkipDestructiveCodeActions": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ]
}
